/* Font Import */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans&display=swap");

html {
  width: 100vw;
}

.hnlogo {
  max-width: 40%;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-right: 0 !important;
  margin-left: 2rem !important;
}

.ml-auto {
  margin-right: 2rem;
}

body {
  cursor: url("https://i.imgur.com/SWKZIAE.png?1"), auto;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
}
