html {
  width: 100vw;
}

.hnlogo {
  max-width: 40%;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-right: 0 !important;
  margin-left: 2rem !important;
}

.ml-auto {
  margin-right: 2rem;
}

body {
  cursor: url("https://i.imgur.com/SWKZIAE.png"), auto;
}
